#miNav {
  font: bold 20px/1.7 "Lora", serif;
}

/*----Anidacion----*/
#miHeader {
  position: relative;
  margin-bottom: 0.5rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
}
#miHeader .site-heading {
  color: #978383;
  text-align: center;
  font-family: "Lora", serif;
}
#miHeader .site-heading h1 {
  font: bold 60px/1.5 "Lora", serif;
  padding-bottom: 30px;
}

#miHeader .subheading {
  font: 35px/1.5 "Lora", serif;
}

/*----Anidacion----*/
.sectiontitle {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 75px;
}
.sectiontitle .miTitulo {
  font: bold 55px/1.5 "Lora", serif;
  color: #747070;
  text-align: center;
  padding: 20px;
}

.sectiontitle__subtitle {
  font: 35px/1.5 "Lora", serif;
  color: #747070;
  text-align: center;
}

/*----Anidacion----*/
.quienes_description {
  padding-top: 5%;
  padding-bottom: 10%;
  background: radial-gradient(
    circle,
    rgba(140, 136, 138, 0.773547) 0%,
    #363738 100%
  );
}
.quienes_description .quienes_description-foto {
  display: flex;
  justify-content: center;
}

.quienes_description-texto,
.footer {
  font: bold 20px/1.7 "Lora", serif;
  color: white;
}

/*----Extend----*/
.footer {
  text-align: center;
  color: #747070;
}
