.carousel-item .carousel-item__contenedorTexto {
  position: absolute;
  z-index: 1;
  font: 22px/1.7 "Martel", serif; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: black; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.btn, .btn--white {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 17px;
  border: 2px #959292 solid;
  border-radius: 0.25rem;
  background: radial-gradient(circle, rgba(140, 136, 138, 0.773547) 0%, #363738 100%);
  text-align: center;
  transition: all 0.4s ease-in-out;
  font: 22px/1.7 "Martel", serif;
  margin: 20px; }

footer {
  text-align: center;
  font: 22px/1.7 "Martel", serif; }

#miNav {
  font-weight: bold;
  font-size: 20px;
  font-family: "Martel", serif; }

.navbar-brand {
  font: 22px/1.7 "Martel", serif; }

#miHeader {
  position: relative;
  margin-bottom: 0.5rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover; }
  #miHeader .site-heading {
    color: #978383;
    text-align: center;
    font: 55px/1.5 "Martel", serif; }
    #miHeader .site-heading h1 {
      font: 55px/1.5 "Martel", serif;
      padding-bottom: 30px; }

#miHeader .subheading {
  font-size: 33px;
  font-family: "Martel, serif"; }

.sectiontitle {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 75px; }
  .sectiontitle .miTitulo {
    font: 55px/1.5 "Martel", serif;
    color: #978383;
    text-align: center;
    padding: 20px; }

.sectiontitle__subtitle {
  font: 33px/1.5 "Martel", serif;
  color: #978383;
  text-align: center; }

.quienes_description {
  padding-top: 5%;
  padding-bottom: 10%;
  background: radial-gradient(circle, rgba(140, 136, 138, 0.773547) 0%, #363738 100%); }
  .quienes_description .quienes_description-foto {
    display: flex;
    justify-content: center; }

.quienes_description-texto {
  font: 22px/1.7 "Martel", serif;
  color: white; }

.cardsPadre {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(140, 136, 138, 0.773547) 0%, #363738 100%); }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px; }

.card {
  flex: 0 0 300px;
  margin: 0 10px 10px 10px;
  border: 2px solid #050505;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background: white;
  transition: all 4s; }
  .card .card img {
    width: 100%;
    max-width: 350px;
    height: auto; }
    .card .card img .card .text {
      padding: 0 30px 30px; }

.subtituloCard {
  font: 22px/1.7 "Martel", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px; }

.parrafoCard {
  font-size: 18px;
  font-style: italic;
  line-height: 1.7;
  margin-left: 10px;
  margin-right: 10px; }

.card:hover {
  background-color: #c6f5f5; }

.card .text > button {
  width: 100%;
  color: white;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0; }

.portfolio-modal .modal-dialog {
  max-width: 80vw; }
  .portfolio-modal .modal-dialog .modal-content {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center; }
    .portfolio-modal .modal-dialog .modal-content .modal-content h2 {
      font: 55px/1.5 "Martel", serif;
      line-height: 3rem; }

.portfolio-modal .modal-content img {
  margin-bottom: 15px;
  border: 2px solid gray; }

.portfolio-modal .modal-dialog .modal-content p {
  margin-bottom: 30px;
  font-style: italic;
  font: 22px/1.7 "Martel", serif; }
  .portfolio-modal .modal-dialog .modal-content p .item-intro {
    font-style: italic;
    margin-bottom: 2rem; }

#portfolio {
  background: radial-gradient(circle, rgba(140, 136, 138, 0.773547) 0%, #363738 100%); }
  #portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden; }
    #portfolio .portfolio-item .portfolio-item-caption:hover {
      opacity: 1; }
      #portfolio .portfolio-item .portfolio-item-caption:hover .portfolio-item-caption-content {
        font-size: 1.5rem; }

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9); }

.page-section, .page-section.section-subheading.h3 {
  padding: 6rem 0; }
  .page-section .page-section-heading, .page-section.section-subheading.h3 .page-section-heading {
    font-size: 2.25rem;
    line-height: 3rem;
    padding-bottom: 45px;
    font-family: "Martel, serif";
    color: white; }

@media (min-width: 992px) {
  .page-section .page-section-heading, .page-section.section-subheading.h3 .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem; } }

section#contacto {
  background-color: black;
  height: auto;
  margin-bottom: 0;
  margin-top: 0; }
  section#contacto .section-heading {
    color: #fff;
    font: 55px/1.5 "Martel", serif;
    line-height: 3.5; }

.page-section h3.section-subheading, .page-section.section-subheading.h3 h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font: 22px/1.7 "Martel", serif;
  margin-bottom: 4rem; }

section#contacto form#contactForm .form-group {
  margin-bottom: 1.5rem; }

section#contacto form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem; }

section#contacto form#contactForm .form-group-textarea {
  height: 100%; }

section#contacto form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem; }

section#contacto form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem; }
