/*----------INDEX-------*/
.carousel-item .carousel-item__contenedorTexto {
  position: absolute;
  z-index: 1;
}
.carousel-item .carousel-item__contenedorTexto .carousel-item__texto {
  font-size: 9vw;
}
.btn-coffee,
.btn-coffee--white {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px 17px;
  border: 2px #959292 solid;
  border-radius: 0.25rem;
  background: radial-gradient(rgb(128, 125, 125), black);
  text-align: center;
  transition: all 0.4s ease-in-out;
  font-family: "Lora", serif;
}
.carousel-item .carousel-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), black);
  z-index: 0;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/*Pie de pagina*/
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Lora", serif;
}
/*----CONOCENOS----*/
header.masthead {
  position: relative;
  margin-bottom: 0.5rem;
  padding-top: calc(8rem + 57px);
  padding-bottom: 8rem;
  background: no-repeat center center;
  background-size: cover;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: rgba(173, 173, 173, 0.979);
  text-align: center;
  font-family: "Lora", serif;
}

header.masthead .page-heading h1,
header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 3.5rem;
  font-family: "Lora", serif;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.header {
  color: #161616;
  font-size: 30px;
  padding: 10px;
  text-align: left;
}
/*section de conocenos*/
.miImagen {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.nosotras {
  font-family: "Lora", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.nosotras p {
  font-family: "Lora", serif;
  font-style: italic;
  line-height: 2;
  font-size: 20px;
  text-align: justify;
  font-weight: bold;
}
/*----CONTACTO----*/
section#contacto {
  background-color: black;
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}
section#contacto .section-heading {
  color: #fff;
  font-size: 40px;
  line-height: 3.5;
  font-family: "Lora", serif;
}
.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Lora", serif;
  margin-bottom: 4rem;
}
section#contacto form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contacto form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contacto form#contactForm .form-group-textarea {
  height: 100%;
}
section#contacto form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
section#contacto form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
section#contacto button {
  margin-top: 30px;
  margin-bottom: 30px;
}
/*----CURSOS----*/
.tituloCurso {
  font-family: "Lora", serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}
#miCursos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.curso {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 248, 248);
  width: 350px;
  height: 650px;
}
.curso img {
  width: 100%;
  border-radius: 6px;
}
.descripcion {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.descripcion h2 {
  margin: 0;
}

.descripcion p {
  flex: 1;
}
.canasto {
  background-color: rgb(5, 143, 143);
  border: black 1px solid;
  color: rgb(248, 248, 248);
  font-weight: bold;
  font-size: 20px;
  padding: 2px 5px 2px 80px;
}
/*----NUESTROS PROYECTOS----*/

#cajaGrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 300px 300px 300px 300px;
  grid-template-areas:
    "cajaUno cajaCuatro cajaCinco"
    "cajaDos cajaCuatro cajaCinco"
    "cajaTres cajaCuatro cajaCinco";
  column-gap: 30px;
  row-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}
#cajaUno {
  grid-area: cajaUno;
}

#cajaUno img {
  width: 100%;
  border: 4px double black;
  align-self: end;
}
#cajaUno :hover {
  transition: all 1.5s;
  transform: scale(2, 2);
}
#cajaDos {
  grid-area: cajaDos;
}
#cajaDos img {
  width: 100%;
  border: 4px double black;
}
#cajaDos :hover {
  transition: all 1.5s;
  transform: scale(2, 2);
}
#cajaTres {
  grid-area: cajaTres;
}
#cajaTres img {
  width: 100%;
  border: 4px double black;
}
#cajaTres :hover {
  transition: all 1.5s;
  transform: scale(2, 2);
}
#cajaCuatro {
  grid-area: cajaCuatro;
  justify-self: stretch;
  align-self: center;
}

#cajaCuatro iframe {
  border: 4px double black;
  width: 100%;
  justify-self: center;
  height: 400px;
}
#cajaCinco {
  grid-area: cajaCinco;
}
#cajaCinco p {
  justify-self: center;
  border: 4px double black;
  width: 100%;
  font-family: "Lora", serif;
  line-height: 2;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}
