$parrafo-font: bold 20px/1.7 "Lora", serif;
$color-titulos: #978383;
$titulo-font: bold 60px/1.5 "Lora", serif;
$subtitulo-font: 35px/1.5 "Lora", serif;
$fondo-section: radial-gradient(
  circle,
  rgba(140, 136, 138, 0.773547) 0%,
  #363738 100%
);
