.sectiontitle {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 75px;
  .miTitulo {
    font: $titulo-font;
    color: $color-titulos;
    text-align: center;
    padding: 20px;
  }
}
.sectiontitle__subtitle {
  font: $subtitulo-font;
  color: $color-titulos;
  text-align: center;
}

.quienes_description {
  padding-top: 5%;
  padding-bottom: 10%;
  background: $fondo-section;

  .quienes_description-foto {
    display: flex;
    justify-content: center;
  }
}
.quienes_description-texto {
  font: $parrafo-font;
  color: white;
}
