.btn {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: $color-button;
  padding: 10px 17px;
  border: 2px #959292 solid;
  border-radius: 0.25rem;
  background: $fondo-section;
  text-align: center;
  transition: all 0.4s ease-in-out;
  font: $parrafo-font;
  margin: 20px;
}
.btn--white {
  @extend.btn;
}
